
<div class="container">
    <div class="card-deck" style="width:550px">
      <img class="card-img-top" src="assets/a.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Indiana</h4>
        <p class="card-text">Have a great time in Indiana</p>
        <a href="#" class="btn btn-primary">Reviews & ratings</a>
        
      </div>
    </div>
    <br>

    <div class="card-deck" style="width:550px">
        <img class="card-img-bottom" src="assets/b.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Arsalaan</h4>
        <p class="card-text">Get the best biryani here</p>
        <a href="#" class="btn btn-primary">Reviews & Ratings</a>
      </div>
     </div>

     <div class="card-deck" style="width:550px">
        <img class="card-img-bottom" src="assets/c.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Modi Tea Stall</h4>
        <p class="card-text">Achi Chai Pilayenge</p>
        <a href="#" class="btn btn-primary">Reviews & Ratings</a>
      </div>
     </div>



  </div>
  