<div class="col-md-6">
    <h2 class="text-center">Add Food Item</h2>
  <form>
    <div class="form-group">
      <label for="foodId">Food Id:</label>
      <input type="text" [(ngModel)]="menu.foodId" placeholder="foodId" name="foodId" class="form-control" id="foodId">
    </div>
  
    <div class="form-group">
      <label for="cafeId">Cafe Id:</label>
      <input type="text" [(ngModel)]="menu.cafeId" placeholder="cafeId" name="cafeId" class="form-control" id="cafeId">
    </div>
  
    <div class="form-group">
      <label for="foodName">Food Name:</label>
     <input type="text" [(ngModel)]="menu.foodName" placeholder="foodName" name="foodName" class="form-control" id="foodName">
    </div>

    <div class="form-group">
        <label for="foodPrice">Food Price:</label>
       <input type="number" [(ngModel)]="menu.foodPrice" placeholder="foodPrice" name="foodPrice" class="form-control" id="foodPrice">
      </div>
  
    <button class="btn btn-success" (click)="createMenu()">Create</button>
  </form>
  </div>