<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span [matMenuTriggerFor]="cmenu">Capgemini Cafe</span>
        <mat-menu #cmenu="matMenu">
            <button mat-menu-item routerLink="/viewCafe">
                <mat-icon>power_settings_new</mat-icon>
                <span>View Cafe</span>
            </button>
            <button mat-menu-item routerLink="/addCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Add Cafe</span>
            </button>
            <button mat-menu-item routerLink="/updateCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Update Cafe</span>
            </button>
            <button mat-menu-item routerLink="/removeCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Remove Cafe</span>
            </button>
        </mat-menu>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLink="/helpdesk">Help Desk</button>
        <button mat-button>About</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/loginRegistration">
                <mat-icon>power_settings_new</mat-icon>
                <span>Login</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
