<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span routerLink="/" >Capgemini Cafe</span>
        <button mat-icon-button [matMenuTriggerFor]="cmenu" *ngIf="userLoggedIn === true">
            <mat-icon>drag_indicator</mat-icon>
        </button>
        <mat-menu #cmenu="matMenu">
            <button mat-menu-item routerLink="/viewCafe">
                <mat-icon>power_settings_new</mat-icon>
                <span>View Cafe</span>
            </button>
            <button mat-menu-item routerLink="/addCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Add Cafe</span>
            </button>
            <button mat-menu-item routerLink="/updateCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Update Cafe</span>
            </button>
            <button mat-menu-item routerLink="/removeCafe" *ngIf="userRoleType === 'admin'">
                <mat-icon>power_settings_new</mat-icon>
                <span>Remove Cafe</span>
            </button>
        </mat-menu>
        <button mat-button routerLink="menuorder">Menu</button>
        <span class="fill-remaining-space"></span>
        <button mat-button routerLink="/helpdesk">Help Desk</button>
        <button mat-icon-button *ngIf="userLoggedIn" [matMenuTriggerFor]="profileMenu">
            <span>{{user.name}}</span>
        </button>
        <mat-menu #profileMenu="matMenu">
            <button mat-menu-item routerLink="/profile">
                <mat-icon>power_settings_new</mat-icon>
                <span>Profile</span>
            </button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/loginRegistration" *ngIf="!userLoggedIn">
                <mat-icon>power_settings_new</mat-icon>
                <span>Login</span>
            </button>
            <button mat-menu-item *ngIf="userLoggedIn" (click)="logOut()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
