<mat-card>
    <mat-card-title>Registration</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Employee ID" formControlName="employeeId" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email ID" formControlName="emailId" pattern="[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Password" formControlName="password" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Name" formControlName="name" pattern="[A-Za-z\s]*" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Phone Number" formControlName="phoneNumber" maxlength="10" pattern="[0-9]*" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date Of Birth" formControlName="dateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker startView="year" [startAt]="1940"></mat-datepicker>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>User Role</mat-label>
                    <mat-select placeholder="User Role" formControlName="userRole">
                        <mat-option value="admin">Admin</mat-option>
                        <mat-option value="customer">General User</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p *ngIf="formError" class="error">
                {{ formErrorString }}
            </p>
            <p *ngIf="registrationSuccess" class="success">
                {{ formErrorString }}
            </p>
            <div class="button">
                <button type="submit" mat-button routerLink="../login" *ngIf="!formSubmitted">Back to Login</button>
                <span class="fill-remaining-space"></span>
                <button type="submit" mat-button *ngIf="!formSubmitted">Sign Up!</button>
            </div>
            <mat-spinner *ngIf="formSubmitted" style="justify-content: center;"></mat-spinner>
        </form>
    </mat-card-content>
</mat-card>